/* .bodybackground {
	transition: all ease 0.4s;
} */

/* body::-webkit-scrollbar {
	background-color: transparent;
	width: 11px;
	height: 11px;
}	

body::-webkit-scrollbar-track {
	background: rgb(236, 236, 244);
	box-shadow: inset 0 0 2px#828197;
}	

body::-webkit-scrollbar-thumb {
	background: rgba(64, 64, 233, 0.256);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}	

body::-webkit-scrollbar-thumb:hover {
	background: rgba(64, 64, 233, 0.457);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}	
 */


body {
	background-color: rgba(249,
		252,
		252);
	font-family: 'Barlow', sans-serif;
}

.logodiv{
	margin-bottom: 26px;
}

.logo {
	margin-top: 33px;
	width: 230px;
}

.mid {
	background-color: rgb(251, 254, 254);
	padding: 46px;
	box-shadow: 0px 8px 30px rgba(169, 195, 206, 0.274);
	border: .8px solid #b7c8cf6f;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	margin: 33px 0px;
}

.welcometo{
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 8px;
	color: #545454;
}

.head {
	font-family: 'Bungee', cursive;
	font-size: 62px;
	line-height: 61px;
	-webkit-text-fill-color: rgba(235, 246, 255, 0.341);
	-webkit-text-stroke: 2.7px rgb(41, 71, 105);
	margin-bottom: 52px;
}

.startheader {
	margin-bottom: 54px;
	font-weight: 600;
	font-size: 33px;
}

.inputdiv {
	margin-top: 33px;
}

.inputlabel {
	margin-bottom: 7px;
	font-size: 14px;
	color: #2f2f2f;
}

.startinputs {
	width: 100%;
	border: 1px solid #cccccc;
	background: rgb(251, 251, 251);
	padding: 8px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.startbtns {
	padding: 12px 26px;
	color: white;
	font-weight: 600;
	border: none;
	margin: 12px;
	width: 57%;
	background-color: rgb(126, 178, 238);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.startbtns:hover {
	transition: 0.2s;
	background-color: rgb(156, 194, 236);
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}

.btndiv {
	margin-top: 38px;
}

.m-3 {
	font-size: 20px;
	padding-top: 13px;
}

.chat {
	background-color: rgb(248, 251, 255);
	/*height: 500px;
	*/
	box-shadow: 0px 10px 30px rgba(102, 118, 169, 0.099);
	border-radius: 11px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	-ms-border-radius: 11px;
	-o-border-radius: 11px;
	margin: 50px 0px;
	/*padding: 0px !important;
	 */
}


/* Style the tab */
.tab {
	float: left;
	background-color: #ecf1fa;
	/*width: 30%;
	*/
	height: 100%;
	border-radius: 16px;
	padding: 0 !important;
}

/* Style the buttons inside the tab */
.tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
	background-color: rgb(248, 251, 255);
	width: 100%;

}

/* Style the tab content */
.tabcontent {
	float: left;
	padding: 27px;
	width: 100%;
	border-left: none;
	/* background-color: aqua; */
	height: 100%;
}

.messages {
	height: 72%;
	/* background-color: aliceblue; */
}

.chatheader {
	color: rgb(23, 23, 23);
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 18px;
}

.chatinput {
	width: 88%;
	height: 15%;
	padding: 18px;
	border: 1px solid #c7dbff;
	border-radius: 4px;
	/* margin-left: 1%; */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.chatinput:focus {
	background-color: rgb(34, 34, 34);
	color: white;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;

}

.sendbtn {
	width: 6%;
	height: 38px;
	margin-left: 14px;
	color: white;
	font-size: 12px;
	font-weight: 500;
	background-color: rgb(165, 174, 197);
	border: none;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.contt {
	padding: 0px !important;
}

.tabcontent {
	background-color: (248, 251, 255)
}